<div class="text-center" id="color">
<%= form_for([@list,@todo_item]) do |f| %>
  <% if @todo_item.errors.any? %>
    
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  
  <%= f.hidden_field :list_id, value: @list.id if @list %>
  
  <div class="field">
    <%= f.label :state %><br>
    <p>Backlog: 1, Ready: 2, In Progress: 3, Complete: 4 </p>
    <%= f.number_field :state, in: 1..4 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>