
<ul class="myMenu">
  
    <li><%= link_to "all your lists", lists_path %>
      <ul>
          <% @current_user.lists.each do |list| %>
          <li><%= link_to "#{list.name}", list_todo_items_path(list) %></li>
          <% end %>
      </ul>      
      
    </li>
</ul>


<h1>things to do</h1>
  <br>
  <style></style>
<div class="gridtable">
  
<h2><%= link_to 'new thing to do', new_list_todo_item_path(@list) %></h2>
  
</div>

<table class="gridtable">
  
    <%if @list.todo_items.backlog.any? %>
  <%= render 'backlog' %>
  <% end %>
    
      
  <tbody>
    
    <% @list.todo_items.backlog.each do |todo_item| %>
        <tr>
          
          <td><%= best_in_place todo_item, :description %></td>
          <td><%= todo_item.status%></td>     
          <td> Created <%= time_ago_in_words todo_item.created_at %> ago </td>        
          <td> Updated <%= time_ago_in_words todo_item.updated_at %> ago </td>      
          <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
          <td><%= link_to 'Destroy', todo_item_path(todo_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    
  </tbody>
</table>
<table class="gridtable">
  <%if @list.todo_items.complete.any? %>
  <%= render 'complete' %>
  <% end %>
  <tbody>
    
    <% @list.todo_items.complete.each do |todo_item| %>
      
        <tr>
          <!-- <td><%= todo_item.completed %></td> -->
          <td><%= best_in_place todo_item, :description %></td>
          <td><%= todo_item.status %></td>
          <td> Created <%= time_ago_in_words todo_item.created_at %> ago </td>        
          <td> Updated <%= time_ago_in_words todo_item.updated_at %> ago </td>        
          <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
          <td><%= link_to 'Destroy', todo_item_path(todo_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
    <% end %>
    
  </tbody>
</table>
<table class="gridtable">
  
  <%if @list.todo_items.ready.any? %>
  <%= render 'ready' %>
  <% end %>

  <tbody>
    <% @list.todo_items.ready.each do |todo_item| %>
      
        <tr>
          <!-- <td><%= todo_item.completed %></td> -->
          <td><%= best_in_place todo_item, :description %></td>
          <td><%= todo_item.status %></td>    
          <td> Created <%= time_ago_in_words todo_item.created_at %> ago </td>        
          <td> Updated <%= time_ago_in_words todo_item.updated_at %> ago </td>       
          <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
          <td><%= link_to 'Destroy', todo_item_path(todo_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
    <% end %>
  </tbody>
</table>
<table class="gridtable">
  
  <%if @list.todo_items.in_progress.any? %>
  <%= render 'progress' %>
  <% end %>

  <tbody>
    <% @list.todo_items.in_progress.each do |todo_item| %>
      
        <tr>
          <!-- <td><%= todo_item.completed %></td> -->
          <td><%= best_in_place todo_item, :description %></td>
          <td><%= todo_item.status %></td>     
          <td> Created <%= time_ago_in_words todo_item.created_at %> ago </td>        
          <td> Updated <%= time_ago_in_words todo_item.updated_at %> ago </td>      
          <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
          <td><%= link_to 'Destroy', todo_item_path(todo_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
    <% end %>
  </tbody>
</table>

<script>
$(function(){
  $('.myMenu > li').bind('mouseover', openSubMenu);
    $('.myMenu > li').bind('mouseout', closeSubMenu);
    
    function openSubMenu() {
      $(this).find('ul').css('visibility', 'visible');  
    };
    
    function closeSubMenu() {
      $(this).find('ul').css('visibility', 'hidden'); 
    };    

});
</script>