
<h1>things to do</h1>
  <br>
<div class="gridtable text-center">
  
<h2><%= link_to 'New Todo item', new_list_todo_item_path(@list) %></h2>
  
</div>

<table class="gridtable text-center">
  
    <tr>
      <h2 class="gridtable text-center">Backlog</h2>
    </tr>
  

  <tbody>
    <% @list.todo_items.backlog.each do |todo_item| %>
        <tr>
          
          <td><%= todo_item.description %></td>
          <td><%= todo_item.status %></td>        
          <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
          <td><%= link_to 'Destroy', todo_item_path(todo_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<table class="gridtable text-center">
  <thead>
    <tr>
     <h2 class="gridtable text-center">Complete</h2>
    </tr>
  </thead>

  <tbody>
    <% @list.todo_items.complete.each do |todo_item| %>
      
        <tr>
          <!-- <td><%= todo_item.completed %></td> -->
          <td><%= todo_item.description %></td>
          <td><%= todo_item.status %></td>        
          <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
          <td><%= link_to 'Destroy', todo_item_path(todo_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
    <% end %>
  </tbody>
</table>
<table class="gridtable text-center">
  <thead>
    <tr>
      <h2 class="gridtable text-center">Ready</h2>
    </tr>
  </thead>

  <tbody>
    <% @list.todo_items.ready.each do |todo_item| %>
      
        <tr>
          <!-- <td><%= todo_item.completed %></td> -->
          <td><%= todo_item.description %></td>
          <td><%= todo_item.status %></td>        
          <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
          <td><%= link_to 'Destroy', todo_item_path(todo_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
    <% end %>
  </tbody>
</table>
<table class="gridtable text-center">
  <thead>
    <tr>
      <h2 class="gridtable text-center">In progress</h2>
    </tr>
  </thead>

  <tbody>
    <% @list.todo_items.in_progress.each do |todo_item| %>
      
        <tr>
          <!-- <td><%= todo_item.completed %></td> -->
          <td><%= todo_item.description %></td>
          <td><%= todo_item.status %></td>        
          <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
          <td><%= link_to 'Destroy', todo_item_path(todo_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
    <% end %>
  </tbody>
</table>

